body {
    background-color: white;
}

header {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 10px;
}
footer {display: flex;
    align-items: center;
    justify-content: center;}

img {
    height: 70px;
    width: 70px;
}
.form-largo {width: 600px;
background-color: white;}
.lista-horizontal {
    list-style: none;
    padding: 0;
}
a {color: black;}
.lista-horizontal li {
    display: inline;
    margin-right: 20px;
}